.profile{

  width: 100%;
  max-width: 900px;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  margin: 80px auto;

  font-size: 16px;
  color: $txt;
  line-height: 180%;

  &[data-scroll] {
    opacity: calc(1 + var(--viewport-y));
  }

  dt{

    font-size: 18px;
    width: 20%;
    justify-content: flex-end;
    font-weight: 500;
    letter-spacing: 2px;
  }
  dd{
    width: 75%;
    justify-content: flex-start;
   
  }

  dt,dd{

    min-height: 50px;
    padding: 20px 0;
    border-bottom: 1px solid $txtl;
    display:flex;
    flex-wrap: wrap;
   
    align-items: center;
    align-content: center;
  }

  @include mq(sm){

    margin: 40px 0;
    dt,dd{
      width: 100%;
      justify-content: center;
      text-align:center
    }

    dt{

      
    }

    &[data-scroll] {
      opacity:1;
    }
  
  }

}

.google-map {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 36.25%;
  overflow: hidden;

  // filter: sepia(.2);
  filter:grayscale(80%);
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .info {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: white;
    padding: 25px;

    .imgbox,
    .txtbox {
      width: 46%;
    }

    .imgbox {
      position: relative;
      padding-top: 46%;
      background-image: url(../images/2x/shop.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .txtbox {
      display: flex;
      justify-content: flex-start;
      align-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;

      p {
        font-size: 14px;
        margin: 10px 0;
      }
      img {
        width: auto;
        height: 40px;
      }
    }

    a {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      background-color: $coc;
      color: white;
      text-decoration: none;
      padding: 5px 10px;

      background-image: url(../images/SVG/arrow_r.svg);
      background-repeat: no-repeat;
      background-size: auto 70%;
      background-position: right center;
    }
  }

  @include mq(sm) {
    .info {
      display: none;
    }

    padding-bottom: 80%;
  }
}
