.contactpagehead {

    .inner{

        display:flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .titletx {
        @include min();
        font-size: 16px;
        line-height: 160%;
        color: $txt;
    }

    &.otherpage {
        background-color: rgb(250, 250, 250);
    }

    ul {
        margin-top: 80px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include noto();



        li {
            width: 45%;
            height: auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;

       
            span{
                width: 100%;
            }
            img{
                width: 100%;
            }

            @media print {
                p {
                    font-size: 12px;
                }

                .form {
                    a {
                        transform: scale(0.7, 0.7);
                        padding: 10px;
                    }
                }
            }
        }

        @include mq() {

            max-width: 100%;
            justify-content: center;

            li {
                width: 70%;
                margin-bottom: 15px;
            }
        }

        @include mq(sm) {

            li{

                width: 90%;
            }
            margin-top: 30px;
        }
    }

    .contitle {
        @include mq(sm) {
            font-size: 23px;
            letter-spacing: 0;
        }
    }

    @include mq(){

        .title{

            font-size: 22px;
            line-height: 30px;
        }
    }
}



#main {

    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding:80px 0;
  
    background-color: $bgc;
    position: relative;
    z-index: 1004;

    .formtitle {

        font-size: 28px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 5px;
        color: rgb(31, 31, 31);
        // padding-bottom: 60px;
        background-color: #fffcf6;
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        padding-bottom: 60px;
        padding-top: 30px;

        @include mq(sm){

            padding-bottom: 30px;
            padding-top: 30px;
        }
       
        span {
            // display: block;
            border-top: 4px solid $coc;
            padding-top: 10px;
        }
    }

    .inner {

        
        width: 1000px;
        margin: 0 auto;


        @include mq() {
            width: 100%;
            padding: 20px 0;
        }
    }

    .formwrap {

        width: 100%;
      
        box-sizing: border-box;

        position: relative;

        // background: white;
        border-radius: 10px;


        @include mq() {
            width: 100%;
            padding: 0px;
            margin-bottom: 10px;
            margin-top: 0;
        }

    }

    @include mq() {

     

        h3 {
            font-size:5vw;
            line-height: 180%;
            margin: 20px 0;

        }

    }
    
    @include mq(sm) {

        padding-top: 0;

        h3 {
            font-size: 18px;
            display: block;
            text-align: center;
        }
    }

}

.telfaxcont {

    padding: 60px 15px 0;
    position: relative;

    .telfaxwrap {

        width: 100%;
        max-width: 900px;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;

    }

    .telfax {

        width: 50%;
        height: auto;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 36px;
        padding: 20px;
       
        @include inview_item();

        dt {

            width: auto;
            height: auto;

           i{

            width: 8vw;
            height: 8vw;

            font-size: 4vw;
            @include mq(xl){
                font-size: 50px;
            }

            max-width: 100px;
            max-height: 100px;
            background: $coc;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;

           }

        }

        dd {

            width: calc(100% - 10vw);
            height: auto;
          
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;

            font-size: 2.6vw; 
            @include mq(xl) {font-size: 26px;}
            font-weight: bold;
            color: $coc;
        

            .subspan {

                font-size: 14px;
                display: block;
                width: 100%;
                text-align: left;
                border-top: 1px solid $coc;
                padding-top: 1vw;
                margin-top: 10px;

                span{

                    background: $coc;
                    color: white;
                    padding: 2px;
                    font-size: 14px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                }

            }

            a {
                text-decoration: none;
                color: $coc;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: auto;

            }

        }

        @include mq() {

            width: 100%;
            padding:5vw 0px;

            dt{
                
                i{
                    width:  15vw;
                    height: 15vw;
                    font-size: 10vw;
                    max-width:  150px;
                    max-height: 150px;
                }
            }
       
            dd {

                width: calc(100% - 25vw);
                flex-wrap: wrap;
                font-size: 6vw;
                // height: 15vw;

                a,.subspan{
                    width: 100%;
                }

                .subspan{
                    font-size: 4vw;
                    margin-top:  10px;
                    padding-top: 10px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    span{
                        font-size: 3vw;
                        margin-right: 10px;
                    }
                }
        
            }

        }

        @include mq(sm) {

            width: 100%;
            padding:5vw 0px;

            dt{
                
                i{
                    width: 20vw;
                    height: 20vw;
                    font-size: 10vw;
                }
            }
       
            dd {

                width: calc(100% - 25vw);
                flex-wrap: wrap;
                font-size: 8vw;
                // height: 15vw;

                a,.subspan{
                    width: 100%;
                }

                .subspan{

                    font-size: 4vw;
                    margin-top:0px;
                    padding-top: 10px;

                }
        
            }

        }

    }

    @include mq() {
        padding: 30px 15px;
    }
}


.formcont {

    width: 100%;
    //   max-width: 1100px;
    height: auto;
    display: block;
    margin: 0px auto 0;
    padding: 00px 15px;
    background-color: $bgc;
   

    h4 {
        font-size: 14px;
    }

    form {
        max-width: 1000px;
        margin: 0 auto;
    }

    #selecter {

        flex-wrap: wrap;
        font-size: 12px;

        span {
            font-size: 14px;
            display: block;
            width: 100%;
            padding: 10px;

        }
    }

    p {

        font-size: 18px;
        margin-bottom: 50px;
        margin-top: 50px;
        line-height: 180%;
        text-align: left;


        &.noline {
            border: 0px;
        }

        &.comfirm {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            width: 500px;
            margin: 0 auto;
            text-align: center;
            margin: 30px auto;

            label {
                margin-left: 10px;
                margin-bottom: 0;
            }
        }
    }

    input[ type='radio'] {
        margin-right: 5px;
        margin-left: 10px;
        margin-bottom: 5px;
    }

    .smalltx{

        display: block;
        font-size: 12px;
        color: $coc;
        margin: 10px 0;
    }
    .form-group {

        padding: 30px 0;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        border-bottom: 1px solid rgb(199, 199, 199);

        &:last-of-type {
            border-bottom: 0px;
        }

        &:first-child {
            border-top: 1px solid $coc;

        }

        #selecter>label {
            font-weight: normal;
            margin-right: 10px;
        }

        .col-sm-3.control-label {

            font-size: 16px !important;
            width: 25%;
            font-weight: normal;
            //                @include FMIN();

            color: $coc;

  
        }

        .col-sm-9 {
            width: 75%;
            display: flex;
            align-items: center;
            font-size: 14px;

            &.agebox{
                width: 80px;

                &:after{
                    content: '歳';
                    display: inline-block;
                    margin-left: 15px;
                    
                }
            }

            select {
                margin-left: 10px;
            }
        }

        @include mq() {

            border: 0px;
            .col-sm-3.control-label {
                width: 28%;
            }

            .col-sm-9 {
                width: 72%;
            }

        }

    }

    //formgroupend

    @include mq(){

        padding: 20px 15px;
        margin-top:0;
    }

    @include mq(sm) {

        max-width: 100%;
        padding: 30px 15px 40px;
        margin: 0px auto 0;
       

        .form-group {

            flex-wrap: wrap;
            justify-content: center;

            .col-sm-3.control-label {

                font-size: 16px !important;
                font-weight: bold;

                width: 100%;
                text-align: center;
                border-bottom: 1px solid $sub;
                margin-bottom: 10px;
                padding-bottom: 10px;

            }


            .col-sm-9 {
                width: 100%;


                select {
                    margin-left: 10px;
                }
            }
        }

        h4 {
            text-align: center;
        }

        label.btns{

            width: 100%;
            text-align:center;
            padding: 10px;
            background: white;
            margin-bottom: 10px;
            border-radius: 50px;
        }
    }

}

.MAILFORM {

    .contact_read {

        // border: 1px solid gray;
        border-radius: 10px;
        padding: 30px 15px;
        max-width: 900px;
        margin: 0 auto;
        background: linear-gradient(-45deg, #f2f2f2 25%, rgba(255, 255, 255, 0.7) 25%, rgba(255, 255, 255, 0.7) 50%, #f2f2f2 50%, #f2f2f2 75%, rgba(255, 255, 255, 0.7) 75%, rgba(255, 255, 255, 0.7));
        background-size: 4px 4px;
        position: relative;

        @include mq() {

            max-width: 95%;
        }

        &:before {
            content: "";
            border: 15px solid transparent;
            border-top: 15px solid $coc;
            position: absolute;
            right: 50%;
            transform: translate(50%, 0);
            bottom: -55px;
            margin-bottom: 15px;
        }

    }

    .need {
        color: #d16090;
    }

    p {

        line-height: 180%;
        font-size: 16px;
        text-align: center;
        // @include inview_item();

        @include mq() {

            text-align: left;
            padding: 15px;
            width: 100%;

            br {
                display: none;

                &.nonone{
                    display: inline;
                }
            }
        }

        strong{
            font-size: 18px;
            color: $coc;
        }
    }


    textarea.form-control {
        height: auto;
        padding: 10px;
    }

    .form-control {

        display: block;
        width: 100%;
        height: 50px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    }

    .form-control:focus {
        border-color: $coc;
        outline: 0;
        box-shadow: inset 0 1px 1px $coc, 0 0 8px $coc;
    }

}

.formread{

    background-color: $bgc;
    padding-bottom: 30px;
    margin-bottom: 0;
    border-bottom: 1px solid $sub;

    @include mq(){

        .title{

            font-size: 22px;
            line-height: 30px;
            margin-bottom: 20px;
        }
    }
}


//送信確認ボタン
#cfmbtn {

    border-bottom: 0px !important;
    transition: .2s;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    .btn-lg {
        text-align: center;
        margin: 0 auto;

    }

    .btn-lg,
    .btn-group-lg>.btn {

        // background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
        padding: 5px 15px;
        font-size: 16px;
        line-height: 1.3333333;
        background: $coc;
        border: 3px solid $coc;
        
        border-radius: 100px;
        animation: btn 5s ease infinite;
        color: white;
        width: auto;
        height: 60px;
        margin: 20px auto;
        box-shadow: none;
        transition: .2s;

        &:hover {
            box-shadow: 0 0 5px 3px $coc,0 0 0 1px $coc;
            transform: translateY(-3px);
        }

        br {
            display: none;
        }

        @include mq() {

            margin: 5px auto;
            line-height: 160%;
            padding: 15px 30px;
            height: auto;
            font-size: 3vw;

            br {
                display: inline;
            }
        }
        @include mq(sm) {

            margin: 5px auto;
            line-height: 160%;
            padding: 10px 20px;
            height: auto;
            font-size: 4vw;

            br {
                display: inline;
            }
        }

    }

}

//進む、戻るボタン
.btn_space {

    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    button {
        padding: 15px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background: $coc;
        color: white;
        font-weight: bold;
        font-size: 16px;
        border: none;
        cursor: pointer;
        outline: none;
        appearance: none;
        border-radius: 5px;
        border: 3px solid $coc;

        margin: 0 5px;
        transition: .4s;

        &:hover {
            box-shadow: 0 0 5px 3px $coc,0 0 0 1px $coc;
            transform: translateY(-3px);
        }
    }


}

#PPL{

    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: auto;
    // padding: 30px;

    p{
        text-align:left;
      
        font-size: 12px;
    }


    .pptitle{
        font-size: 22px;
        font-weight: bold;
        color: #434343;
        text-align: center;
        margin: 30px auto;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 2px solid $coc;
        // width: 30%;

    }

    .pptext{

        width: 100%;
        height: 200px;
        padding: 25px;
        border: 1px solid #bebebe;
        overflow-y: auto;
        background-color: white;

        p{
            margin: 0px 0 0px 0;
            padding: 15px 0;
            font-size: 12px;
        }

        strong{
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 15px;
            display: block;
        }
    }

    ul{

        padding: 20px;
        li{
            line-height: 160%;
            margin-bottom: 10px;
            list-style:  decimal;
            font-size: 12px;
        }
    }

    @include mq(sm){

        padding: 0;
    }

}


