html,
body {
  @media print {
    // max-width: 210mm;
    top: 0 !important;
    left: 0 !important;
    width: 200mm !important;
    overflow-x: hidden;
    size: A4;
    margin: 0;
    padding: 0;

    width: 100% !important;
  }
}

#pagetop {
  width: 60px;
  height: 60px;
  display: block;
  background: $coc;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 34000;
  // border-radius: 50px;

  opacity: 0;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  pointer-events: none;
  cursor: pointer;

  i {
    color: white;
  }

  img {
    width: 80%;
    height: auto;
    transition: 0.2s;
  }

  &.active {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
  }

  &:hover {
    
    // transform: scale3d(1.05,1.05,1);
    transform: scale3d(0.95,0.95,1);

    img {
      transform: translateY(-3px);
    }
  }

  @include mq() {
    display: none;
  }

  @media print {
    display: none;
  }
}

.pcnon {
  display: none;

  @include mq() {
    display: inline;
  }
}

.spnon {
  display: inline;

  @include mq() {
    display: none;
  }
}



$bh:120px;
.contents {

  width: 100%;
  height: auto;
 
  padding: 120px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  position: relative;

  @include noto();

  .sechead {
    width: 100%;
    height: auto;
    font-size: 60px;
    color: $coc;
    text-align: center;
    display: block;
    margin-bottom: 140px;
    font-weight: 300;
    position: relative;
 
    .char{
      opacity: calc(1 + ((var(--viewport-y) * 2.5) - var(--char-percent)));
    }

  }

  .reader {
    font-size: 16px;
    text-align: center;
    color: white;
    line-height: 220%;
    width: 100%;
    display: block;
    position: relative;
    z-index: 50;

    span {
      display: block;
    }
  }
  .sechead,
  .moreview {
    position: relative;
    z-index: 150;

    // @include inv2();
  }

  .splitwrap{

    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;

    .lines{

      content: '';
      width: 1px;
      height: $bh;
      background-color: $coc;
      display: block;
      position:absolute;
      bottom: 0;
      left: 50%;
      opacity: 0;

      &[data-scroll] {
     
        --scroll-length: 2;
        --scale: calc(1 + (0.2 * var(--scroll-length) * var(--viewport-y)));
        transform: scale(var(--scale));
        opacity: calc(1 + var(--viewport-y));
      }
      
    }

  }

  @include mq() {
 
  }

  @include mq(sm) {
    padding: 60px 30px;
    min-height: 0;
    margin-top: 20px;

    .sechead {
      font-size: 28px;
      margin-bottom: 10vh;
    }

    .reader {
      text-align: left;
      line-height: 200%;
      font-size: 20px;
      br {
        display: none;
      }

      span {
        display: inline;
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 1.4;

        font-weight: 300;
      }
    }

    .splitwrap{

      margin-bottom: 15px;

      .lines{

        height: 60px;
        bottom: 0%;

        &[data-scroll] {
          --scroll-length: 2;
          --scale: calc(1 + (0.2 * var(--scroll-length) * var(--viewport-y)));
          transform: scale(var(--scale));
          opacity: calc(0.6 + var(--viewport-y));
        }
      }
    }
  }
}

.contents#WORKS{

  &:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 0;
    background-image: url(../images/imgs-assets/05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .2;
  }
  
}

.inner{

  width: 100%;
  max-width: 1200px;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.mainread{

  font-size: 24px;
  color: $txt;
  line-height: 210%;
  text-align:center;
  margin-top: 30px;
  display: block;
  width: 100%;


  strong{

    font-size: 34px;
    display: block;
    margin-bottom: 25px;
    position: relative;

    &:before{
      content: '';
      display: inline-block;
      width: 50px;
      height: 100%;
      border-bottom: 1px solid $txtl;
      transform: translateY(-10px);
      margin-right: 10px;
     
    }
    &:after{
      content: '';
      display: inline-block;
      width: 50px;
      height: 100%;
      border-bottom: 1px solid $txtl;
      transform: translateY(-10px);
      margin-left: 10px;
     
    }
  }

  .en{

    @include engfonts();
    display: inline;

  }

  .cx{
    display: block;
    width: 100%;
    margin: 15px 0;
    line-height: 210%;

    &.cname{

      font-size: 22px;
      @include min();
    }
  }

  &[data-scroll] {
     
    --scroll-length: 2;
    --scale: calc(.8 + (0.2 * var(--scroll-length) * var(--viewport-y)));
    transform: scale(var(--scale));
    opacity: calc(1 + var(--viewport-y));
  }

  @include mq(){

    width: 100%;
    font-size: 16px;
    text-align: left;
   

      strong{
        font-size: 22px;
        &:before,&:after{

          display: none;
        }
      }
    

    &[data-scroll] {
     
     
      transform: none;
      opacity: calc(1 + var(--viewport-y));
    }
  

  }
}

.imgbox{

  width: 55%;
  height: auto;
  transform-origin: left top;

  img{
    width: 100%;
    will-change: scale,opacity;
  }

  [data-scroll] {

    --scroll-length: 1.5;
    --scale: calc(0.8 + (0.2 * var(--scroll-length) * var(--visible-y)));
    opacity: calc(1.2 + var(--viewport-y));
    transform: scale(var(--scale));

  }
}

.txtbox{

  width: 40%;
  height: auto;
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  padding: 20px;
  font-size: 14px;

  color: $coc;

  dl{

    dt{
      border-bottom: 1px solid $coc;
      display: inline-block;
      margin-bottom: 10px;
      font-size: 18px;
    }
    dd{
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 180%;

      span{

        display: block;
        margin: 15px 0;
      }
    }
  }

  &[data-scroll] {
    opacity: calc(1 + var(--viewport-y));
  }
}

@include mq(sm){

  .imgbox,.txtbox{

    width: 100%;
    padding: 0;
  }

  .imgbox{

    transform-origin: center center;
    margin-bottom: 20px;
  }


}


@mixin inv() {

  transition: all 800ms cubic-bezier(0.74, 0.015, 0.15, 1); /* custom */

  transition-timing-function: cubic-bezier(0.74, 0.015, 0.15, 1); /* custom */
  transform: translateY(20px);
  opacity: 0;

  will-change: opacity, transform;

  &.active {
    opacity: 1;
    transform: translateY(0px);
  }

  @media print {
    opacity: 1;
    transform: translateY(0px);
  }
}

@mixin inv2() {
  will-change: opacity, transform;
  transition: all 1500ms cubic-bezier(0.74, 0.015, 0.15, 1); /* custom */

  transition-timing-function: cubic-bezier(0.74, 0.015, 0.15, 1); /* custom */
  transform: translateX(-10px);
  opacity: 0;

  &.active {
    opacity: 1;
    transform: translateX(0px);
  }

  @media print {
    opacity: 1;
    transform: translateX(0px);
  }
}

@mixin inv3() {
  /* BtnEffects */

  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.2, 2, 0.6, 0.6);
  animation-fill-mode: both;
  // animation-delay: .5s;
  opacity: 0;

  /*boyon*/

  @keyframes boyon {
    0% {
      transform: scale(0.4);
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  /* BtnEffects */
  &.active {
    animation-name: boyon;
  }

  @media print {
    opacity: 1;
    transform: translateX(0px);
  }
}

@mixin wd($ms){



}
