@charset Shift_JIS;

* {
	margin:0;
	padding:0;
}
html {
	overflow-y:scroll;
}
body {
	font-family:"ƒqƒ‰ƒMƒmŠpƒSPro W3", "Hiragino Kaku Gothic Pro", Osaka," ƒƒCƒŠƒI", "‚l‚r ‚oƒSƒVƒbƒN", Meiryo, sans-serif;
	font-size:80%;
	line-height:160%;
	color:#333;
	background:#fff;
}
img {
	border:none;
	vertical-align:top;
}


/* base
----------------------------------------------------------*/





/* main
----------------------------------------------------------*/






/* bg
----------------------------------------------------------*/



#bg01 {
	width:100%;
	background:url(../images/bg.jpg) no-repeat top center;
}










