@charset "utf-8";


table {
	width:100%;/* 必須・テーブルの幅 */
	margin:0px auto 0;
	font-size:14px;
	border-collapse:separate;/* 必須・セルの間隔を空け、ボーダーを表示 */
	border-spacing:1px;/* 必須・セルの間隔を1px空ける */
	background:#ddd;/* 必須・テーブルの背景色、枠線に使用 */
}

table th,
table td {
padding:2px 10px;/* セルの余白 */
line-height:1.6;
border:1px solid #fff;/* セルのボーダー色 */
    
vertical-align: middle;    
    
}

table th {
	width:9em;/* 見出しセルの幅 */
    background:rgba(227, 90, 163, 1);
	height: 3em;
    vertical-align: center;
}

table td {
background:#fff;/* セルの背景色 */
}

table td span.tel {
font-size:142%;
font-weight:bold;
}

table td span.notice {
font-size:71%;
}

th{
text-align:center;

}
